
    table,tr,td { width: 700px; height: 100px; border: 2px solid black; border-collapse: collapse;}

    #rowone>td:nth-child(even){
        background-color: brown;
    }
    #rowone>td:nth-child(odd){
        background-color: black;
    }
    
    .rowone>td:nth-child(even){
        background-color: black;
    }
    .rowone>td:nth-child(odd){
        background-color: brown;
    }
    #rowtwo>td:nth-child(even){
        background-color: brown;
    }
    #rowtwo>td:nth-child(odd){
        background-color: black;
    }
    .rowtwo>td:nth-child(even){
        background-color:black ;
    }
    .rowtwo>td:nth-child(odd){
        background-color: brown;
    }
    #rowthree>td:nth-child(even){
        background-color: brown;
    }
    #rowthree>td:nth-child(odd){
        background-color: black;
    }
    .rowthree>td:nth-child(even){
        background-color: black;
    }
    .rowthree>td:nth-child(odd){
        background-color: brown;
    }
    
    #rowfour>td:nth-child(even){
        background-color: brown;
    }
    #rowfour>td:nth-child(odd){
        background-color: black;
    }
    .rowfour>td:nth-child(even){
        background-color: black;
    }
    .rowfour>td:nth-child(odd){
        background-color: brown;
    }